*{
  font-family: futura;    
  margin: 0px;
}

.nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    height: 60px;
    width: 100%;
    background: salmon;

}

img{
  width:500px;
  padding:10px;
  justify-content: center;
  display: flex;
}

#nav-list{
display: flex;
justify-content:space-around;
align-items: center;
font-size: 2.2rem;
padding: 0;
width: 400px;
}




ul{
    list-style: none;
    }

#nav-list a {
    font-family: futura;
    text-decoration: none;
    color: beige;
    padding-top: 0px;
}
#nav-list a:hover {
    background: rgb(255, 95, 95);
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: beige;
    color: salmon;
    font-family: futura; 
}
#projects{
    background: salmon;
    color: white;
  }
a{
font-family: futura;
font-size: 2.2rem;
justify-content: center;
display: flex;
text-decoration: none;
}







#projects{
display:flex;

}
#projects-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: salmon;
  font-family: futura; }


@media  (max-width: 28.75em) {
    .ul {
      font-size: 4rem;
    }
  }

  #contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: beige;
    font-family: futura; 
    color: salmon;
  }
      