

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280;
    margin: 0 auto;
    margin-bottom: 6rem;
}

img{
    width: 120px;
    justify-content: center;
}

div{
    border-radius: 10px;
    border: black 4px;
    justify-content: center;
    font-family: 'Gill Sans';
    display: flex;
    flex-direction: column;
}

button{
    width: 150px;
    height: 80px;
    background-color: rgb(36, 87, 134);
}