html{
  background: rgb(103, 103, 197);
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280;
    margin: 0 auto;
    margin-bottom: 6rem;
    font-family: futura;
}



.picDivs{
  border-style: solid;
  border-color: rgb(255, 232, 23);
  border-width: 4px;
  box-shadow: 2px 2px 2px 2px #252525;
}

.charDivs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5{
    text-align: center;
    color: rgb(255, 232, 23);
}

img{
    width: 120px;
    border-width: 30px;
    border-color: black;
    background: rgb(237, 245, 134);

}

p{
  color: rgb(255, 255, 255);
  text-align: center;
}

h2{
  font-family: futura;
  color: rgb(255, 232, 23);
  margin-top: 0px;

}

button{
    width: 150px;
    height: 80px;
    color:rgb(255, 232, 23);
    background-color: rgb(35, 104, 168);
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: #2d0f74  -8px 8px;
    font-family: futura;
}

#buttonsec{
  display: flex;
  justify-content: center;
  padding-bottom:40px;
  flex-direction: column;
  align-items: center;

}

.scene {
    width: 200px;
    height: 260px;
    
    perspective: 600px;
  }
  
  .card {
    height: 100%;
    transition: transform 2s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    /* position: absolute; */  
    line-height: 6px;
    text-align: center;
    font-size: 20px; 
    background: rgb(35, 104, 168);
    width: 180px;
    border-style: solid;
    border-color: rgb(255, 232, 23);
    border-width: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  

  

    
  
  


  #pokemonlogo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;  
  }

  #pokemonlogoimage{
    width: 400px;
    background: none;
  }

  #pokemonpic{
    width: 200px;
    height: 200px;
    background: none;
  }




  
  .card__face--front {
    /* background: rgb(203, 211, 97);
    width: 180px;
    border-style: solid;
    border-color: yellow;
    border-width: 10px;
    border-radius: 8px; */
    /* transform: rotateY(180deg); */
    backface-visibility: hidden;
    
  }
  
  .card__face--back {
    backface-visibility: hidden;
    transform: rotateY(-180deg);

  }
  